/* Body setup */
body {
    background-color: RGBA(0, 0, 0, 0);
    margin: 0 auto;
    overflow: hidden;
}

/* Main controller background (your GitHub) */
.controller.custom {
    background: url('https://kozlowskmicha.github.io/gamepadviewr/ZDjUbh0.png') no-repeat center center;
    width: 794px;
    height: 639px;
    position: relative;
}

/* Sticks container */
.controller.custom .sticks {
    width: 367px;
    height: 95px;
    position: absolute;
    left: 222px;
    top: 294px;
}

/* Individual sticks */
.controller.custom .stick {
    background: url('https://philipbry.github.io/3sBwghP.png') no-repeat center center;
    width: 95px;
    height: 95px;
    position: absolute;
    transition: transform 0.05s linear;
}

/* Stick pressed state */
.controller.custom .stick.pressed.left,
.controller.custom .stick.pressed.right {
    background-position: -95px 0;
}

/* Right stick position */
.controller.custom .stick.right {
    top: 0;
    left: 255px;
}

/* ABXY buttons container */
.controller.custom .abxy {
    width: 181px;
    height: 181px;
    position: absolute;
    left: 559px;
    top: 152px;
}

/* Individual buttons */
.controller.custom .button {
    background: url('https://philipbry.github.io/HdHbA0t.png') no-repeat center center;
    width: 54px;
    height: 54px;
    position: absolute;
    transition: opacity 0.05s linear;
    opacity: 0.8;
}

/* Button pressed state */
.controller.custom .button.pressed {
    background-position-y: -55px;
    opacity: 1;
}

/* Button positions */
.controller.custom .button.a { left: 59px; top: 116px; background-position: 0 0; }
.controller.custom .button.b { left: 118px; top: 59px; background-position: -54px 0; }
.controller.custom .button.x { left: 0px; top: 58px; background-position: -108px 0; }
.controller.custom .button.y { left: 59px; top: 0; background-position: -162px 0; }

/* D-pad */
.controller.custom .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 171px;
    left: 82px;
    background: url('https://philipbry.github.io/548MWGT.png') no-repeat center center;
}

/* Face buttons (directional) */
.controller.custom .face {
    background: url('https://philipbry.github.io/548MWGT.png') no-repeat center center;
    position: absolute;
}
.controller.custom .face.up, .controller.custom .face.down {
    width: 44px;
    height: 58px;
}
.controller.custom .face.left, .controller.custom .face.right {
    width: 57px;
    height: 44px;
}
.controller.custom .face.up { left: 45px; top: 0; background-position: 0 0; }
.controller.custom .face.down { left: 45px; bottom: -7px; background-position: -44px 0; }
.controller.custom .face.left { top: 45px; left: 0; background-position: -88px 0; }
.controller.custom .face.right { top: 44px; right: -7px; background-position: -144px 0; }
.controller.custom .face.pressed { background-position-y: 58px; }

/* Bumpers */
.controller.custom .bumpers {
    width: 620px;
    height: 36px;
    left: 90px;
    top: 98px;
    position: absolute;
}
.controller.custom .bumper {
    background: url('https://philipbry.github.io/wijYAzG.png') no-repeat center center;
    width: 114px;
    height: 36px;
    opacity: 0;
    position: absolute;
}
.controller.custom .bumper.right { margin-right: 6px; }

/* Triggers */
.controller.custom .triggers {
    width: 593px;
    height: 97px;
    left: 100px;
    position: absolute;
}
.controller.custom .trigger {
    background: url('https://philipbry.github.io/KcAyIZw.png') no-repeat center center;
    width: 100px;
    height: 97px;
    opacity: 0;
    position: absolute;
}
.controller.custom .trigger.right {
    background-position: -100px 0;
    transform: rotateY(0);
}

/* Touchpad */
.controller.custom .touchpad {
    width: 320px;
    height: 167px;
    position: absolute;
    left: 237px;
    top: 97px;
}
.controller.custom .touchpad.pressed {
    background: url('https://philipbry.github.io/Gnd106J.png') no-repeat center center;
}
