* Base controller */
.controller.custom {
    background: url('ZDjUbh0.png'); !important
    width: 794px;
    height: 639px;
    background-size: 100% 100%;
}

/* ==========================
   STICKS
   ========================== */
.controller.custom .stick {
    background: url('https://philipbry.github.io/3sBwghP.png');
    width: 95px;
    height: 95px;
}

.controller.custom .stick.left {
    position: absolute;
    top: 330px;
    left: 170px;
}
.controller.custom .stick.right {
    position: absolute;
    top: 330px;
    left: 500px;
}

.controller.custom .stick.pressed {
    background-position: -95px 0;
}

/* ==========================
   ABXY CLUSTER
   ========================== */
.controller.custom .button {
    background: url('https://philipbry.github.io/HdHbA0t.png');
    width: 54px;
    height: 54px;
    position: absolute;
}

.controller.custom .button.south { /* X */
    top: 355px;
    left: 620px;
    background-position: 0 0;
}
.controller.custom .button.east { /* Circle */
    top: 300px;
    left: 675px;
    background-position: -54px 0;
}
.controller.custom .button.west { /* Square */
    top: 300px;
    left: 560px;
    background-position: -108px 0;
}
.controller.custom .button.north { /* Triangle */
    top: 245px;
    left: 620px;
    background-position: -162px 0;
}

.controller.custom .button.pressed {
    background-position-y: -55px;
}

/* ==========================
   DPAD
   ========================== */
.controller.custom .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 250px;
    left: 110px;
}

.controller.custom .face {
    background: url('https://philipbry.github.io/548MWGT.png');
    position: absolute;
}

.controller.custom .face.up     { width: 44px; height: 58px; left: 45px; top: 0; background-position:   0 0; }
.controller.custom .face.down   { width: 44px; height: 58px; left: 45px; top: 70px; background-position: -44px 0; }
.controller.custom .face.left   { width: 57px; height: 44px; left: 0;   top: 41px; background-position: -88px 0; }
.controller.custom .face.right  { width: 57px; height: 44px; left: 70px; top: 41px; background-position: -144px 0; }

.controller.custom .face.pressed {
    background-position-y: 58px;
}

/* ==========================
   TRIGGERS (L2/R2)
   ========================== */
.controller.custom .trigger {
    background: url('https://philipbry.github.io/KcAyIZw.png');
    width: 100px;
    height: 97px;
    position: absolute;
}

.controller.custom .trigger.left {
    top: -10px;
    left: 115px;
    background-position: 0 0;
}

.controller.custom .trigger.right {
    top: -10px;
    left: 575px;
    background-position: -100px 0;
}

/* Make them appear when pressed */
.controller.custom .trigger.pressed {
    opacity: 1 !important;
}

/* ==========================
   BUMPERS (L1/R1)
   ========================== */
.controller.custom .bumper {
    background: url('https://philipbry.github.io/wijYAzG.png');
    width: 114px;
    height: 36px;
    position: absolute;
}

.controller.custom .bumper.left {
    top: 55px;
    left: 125px;
}

.controller.custom .bumper.right {
    top: 55px;
    left: 560px;
}

/* ==========================
   START / BACK
   ========================== */
/* GamepadViewer uses: 
   .button.start 
   .button.back 
*/

.controller.custom .button.start {
    background: url('https://philipbry.github.io/PrAfLDQ.png');
    width: 23px;
    height: 37px;
    position: absolute;
    top: 230px;
    left: 445px;
    background-position: -23px 0;
}

.controller.custom .button.back {
    background: url('https://philipbry.github.io/PrAfLDQ.png');
    width: 23px;
    height: 37px;
    position: absolute;
    top: 230px;
    left: 330px;
    background-position: 0 0;
}
