body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    overflow: hidden;
}

/* Root controller */
.controller.custom {
    background: url('ZDjUbh0.png')!important;
    width: 794px;
    height: 639px;
    margin: 0;
}

/* Analog sticks */
.controller.custom .sticks {
    width: 367px;
    height: 95px;
    left: 222px;
    top: 294px;
    position: absolute;
}

.controller.custom .stick {
    background: url(https://philipbry.github.io/3sBwghP.png);
    width: 95px;
    height: 95px;
    position: absolute;
}

.controller.custom .stick.pressed.left,
.controller.custom .stick.pressed.right {
    background-position: -95px 0;
}

.controller.custom .stick.right {
    top: 0;
    left: 255px;
}

/* ABXY buttons */
.controller.custom .abxy {
    width: 181px;
    height: 181px;
    left: 559px;
    top: 152px;
    position: absolute;
}

.controller.custom .button {
    background: url(https://philipbry.github.io/HdHbA0t.png);
    width: 54px;
    height: 54px;
    position: absolute;
}

.controller.custom .button.pressed {
    background-position-y: -55px;
}

/* Individual buttons */
.controller.custom .a { left: 59px; top: 116px; background-position: 0 0; }
.controller.custom .b { left: 118px; top: 59px; background-position: -54px 0; }
.controller.custom .x { left: 0px; top: 58px; background-position: -108px 0; }
.controller.custom .y { left: 59px; top: 0px; background-position: -162px 0; }

/* D-pad */
.controller.custom .dpad {
    width: 125px;
    height: 126px;
    top: 171px;
    left: 82px;
    position: absolute;
}

/* Faces for D-pad */
.controller.custom .face {
    position: absolute;
    background: url(https://philipbry.github.io/548MWGT.png);
}
.controller.custom .face.up, .controller.custom .face.down { width: 44px; height: 58px; }
.controller.custom .face.left, .controller.custom .face.right { width: 57px; height: 44px; }
.controller.custom .face.up { left: 45px; top: 0; background-position: 0 0; }
.controller.custom .face.down { left: 45px; bottom: -7px; background-position: -44px 0; }
.controller.custom .face.left { top: 45px; left: 0; background-position: -88px 0; }
.controller.custom .face.right { top: 44px; right: -7px; background-position: -144px 0; }
.controller.custom .face.pressed { background-position-y: 58px; }

/* Bumpers and triggers */
.controller.custom .bumper {
    background: url(https://philipbry.github.io/wijYAzG.png);
    width: 114px;
    height: 36px;
    opacity: 0;
    position: absolute;
}

.controller.custom .bumper.left {
    left: 165px;
    top: 85px;
    background-position: 0 0 !important;
}

.controller.custom .bumper.right {
    left: 515px;
    top: 85px;
    background-position: -114px 0 !important;
}

.controller.custom .bumper.pressed {
    opacity: 1 !important;
}


/* --- START / BACK --- */
.controller.custom .button.back,
.controller.custom .button.start {
    background: url(https://philipbry.github.io/PrAfLDQ.png);
    width: 23px;
    height: 37px;
    position: absolute;
    opacity: 0;
}

.controller.custom .button.back {
    left: 280px;
    top: 200px;
    background-position: 0 0;
}

.controller.custom .button.start {
    left: 491px;
    top: 200px;
    background-position: -23px 0;
}

.controller.custom .button.back.pressed,
.controller.custom .button.start.pressed {
    opacity: 1 !important;
}

.controller.custom .triggers { width: 593px; height: 97px; left: 100px; position: absolute; }
.controller.custom .trigger { width: 100px; height: 97px; opacity: 0; position: absolute; background: url(https://philipbry.github.io/KcAyIZw.png); }
.controller.custom .trigger.left {
    left: 0;
    top: 0;
}
.controller.custom .trigger.right {
      left: 493px;   /* <-- Move R2 to right side */
    top: 0;
    background-position: -100px 0 !important; transform: rotateY(0);
    background-size: 200px 97px !important;
}

/* Touchpad */
.controller.custom .touchpad { width: 320px; height: 167px; left: 237px; top: 97px; position: absolute; }
.controller.custom .touchpad.pressed { background: url(https://philipbry.github.io/Gnd106J.png); }
